{
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "React.createElement",
      "pragmaFrag": "React.Fragment"
    }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["@babel/plugin-transform-runtime", { "corejs": 2 }],
    "styled-components",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "_": ".",
        "~": "./src"
      }
    }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 10%", "ie 9"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "plugins": [["styled-components", { "hoist": true }]]
    },
    "development": {
      "plugins": [
        ["styled-components", { "sourceMap": true, "autoLabel": true }]
      ]
    }
  }
}
