{
  "./src/**/*.js": [
    "prettier-eslint --eslint-config-path ./.eslintrc.js --write",
    "eslint --fix --ignore-pattern '!.eslintrc.js'",
    "git add",
    "jest --bail --findRelatedTests"
  ],
  ".*{rc, json}": ["jsonlint"]
}
